{% extends 'layouts/main.html' %}
{% block title %}Добро пожаловать!{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Добро пожаловать!</h1>
</div>
<p class="lead">
    Загрузите ваше фото и получите описание!
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <label>Загрузить изображение</label>
                <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Выбрать файл… <input type="file" name="file" id="imgInp">
                </span>
            </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <div>
                    <img id='img-upload'/>
                </div>

            </div>
            <div>
                <input type="submit" value="Загрузить">

            </div>
        </div>
        <div class="container">
            <p class="lead"> {{ data }} </p>
        </div>
    </div>
</form>
{% endblock %}
