{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>О нас</h1>
</div>
<div>
  <p class="lead">Состав команды</p>
  <p>Горбунов Дмитрий Витальевич</p>
  <p>Дроздов Владимир Дмитриевич</p>
  <p>Ильясов Идрис Магомет-Салиевич</p>
  <p>Иманов Шамиль Эдуардович</p>
  <p>Косоруков Андрей Вячеславович</p>
  <p>Неклепаева Анастасия Николаевна</p>
  <p>Потапчук Артур Александрович</p>
  <p>Пудов Дмитрий Юрьевич</p>
</div>

<p class="lead">Описание проекта</p>
<div>
  Аннотация лиц по фотографии.
</div>

{% endblock %}
