<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FaceIdentikit</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
<!--            <li {% if request.endpoint == 'home' %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>-->
            <li {% if request.endpoint == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">О нас</a></li>
<!--            <li class="dropdown">-->
<!--              <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
<!--&lt;!&ndash;              <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a>Action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a>Another action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a>Something else here</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="divider"></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="dropdown-header">Nav header</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a>Separated link</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a>One more separated link</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--            </li>-->
          </ul>
<!--          <ul class="nav navbar-nav pull-right">-->

<!--          </ul>-->
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

<!--      {% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--          {% for message in messages %}-->
<!--            <div class="alert alert-block alert-error fade in">-->
<!--              <a class="close" data-dismiss="alert">&times;</a>-->
<!--              {{ message }}-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        {% endif %}-->
<!--      {% endwith %}-->

      {% block content %}{% endblock %}
      
    </main>

  </div>

  <div id="footer">
    <div class="container">
      <p>Team: Time To Live &copy; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <script type="text/javascript" src="/static/js/file-input.js" defer></script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
<!--  <script>-->
<!--  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];-->
<!--  Modernizr.load({-->
<!--    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'-->
<!--  });-->
<!--  </script>-->

</body>
</html>
