{% extends 'layouts/main.html' %}
{% block content %}
  <h1>404 Приносим свои извинения:( ...</h1>
  <p>Но на этой странице ничего нет!</p>
  <p><a href="{{url_for('home')}}">Вернуться на стартовую страницу</a></p>
{% endblock %}
