{% extends 'layouts/main.html' %}
{% block content %}
  <h1>Что-то где-то у нас пошло не так. Простите!</h1>
  <p>Скоро ошибку пофиксят, не переживайте!:)</p>
  <p><a href="{{url_for('home')}}">Домой</a></p>
{% endblock %}
